extends layout 

block content 
    div.mainCont
        if file 
            h4 #{file.name}
            h5 #{file.imageId}
            img(src=file.url)
            
            form(method="POST")
                input(type="hidden" name="imageurl" value=file.url)
                button.itemDelete(onclick="submit") Download file
            br
            a(href=`/file/${file.id}/delete`) Delete item

            a(href=file.url download='lol') asdasd

        else 
            h2 file content missing

