extends layout 

block content 
    div.mainCont
        if file 
            h5 Name: #{file.name}
            h5 Date of upload: #{file.upload}
            h5 File ID: #{file.imageId}     
            img(src=file.url)
            
            form(method="POST")
                input(type="hidden" name="imageurl" value=file.url)
                button.itemDelete(onclick="submit") Download file
            br
            a(href=`/file/${file.id}/delete`) Delete item


        else 
            h2 file content missing

