extends layout 

block content 
    h4 #{folder.name}
    if items 
        ul 
            each item in items 
                li 
                    a(href=`/file/${item.id}`) #{item.name}
        p If you'd like to delete the folder, please delete all items belonging to it first!
        form(method="POST")
            input(type="hidden" name="folderid" value=folder.id)
            button.itemDelete(onclick="submit") Delete folder
    if error 
        ul 
            li #{error}
