extends layout 

block content 

    h4 #{folder.name}
    if items 
        ul 
            each item in items 
                li 
                    a(href=`/file/${item.id}`) #{item.name}
    a(href=`/shareform/${folder.id}`) Generate share link 
    br
    a(href=`/folder/delete/${folder.id}`) Delete folder

    if error 
        ul 
            li #{error}


        //- form(method="POST")
        //-     input(type="hidden" name="folderid" value=folder.id)
        //-     button.itemDelete(onclick="submit") Delete folder