extends layout

block content
  h1= title
  p Welcome to your drive! 
  p You currently have #{filenumber} of files in storage, within #{foldernumber} folder
  if folders 
    ul
      each folder in folders 
        li 
          a(href=`/folder/${folder.id}`) #{folder.name}

