extends layout 

block content 

    h4 #{folder.name}
    if items 
        ul 
            each item in items 
                li 
                    a(href=`/share/item/${folder.uniqueurl}_${item.id}`) #{item.name}
        p If you'd like to delete the folder, please delete all items belonging to it first!
    if error 
        ul 
            li #{error}
